PUBLIC_DOMAIN=example.com
VPS_PUBLIC_IP=222.3.444.55
ACME_EMAIL=admin@example.com

FRP_AUTH_TOKEN=replace-with-a-long-random-token
FRP_BIND_PORT=7000
FRP_HTTP_VHOST_PORT=8080
PLEX_DIRECT_REMOTE_PORT=32400

PLEX_SUBDOMAIN=plex
NEXTCLOUD_SUBDOMAIN=nextcloud
JELLYFIN_SUBDOMAIN=jelly